#clock {
    width: 1500px;;
    /* height: 300px; */
    border: 10px solid rgb(16, 205, 222);
    font-size:100px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    /* position: relative; */
    height: 300px;
    padding-top : 150pt;
    background-color: rgb(204, 101, 16);
}