#clock {
    width: 300px;
    /* height: 300px; */
    border: 10px solid black;
    font-size:large;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    /* position: relative; */
}